[Unit]
Description = $app_name Service
[Service]
User=roboshop
Environment=AMQP_HOST=RABBITMQ-IP
Environment=AMQP_USER=roboshop
Environment=AMQP_PASS=roboshop123
ExecStart=/app/$app_name
SyslogIdentifier=dispatch

[Install]
WantedBy=multi-user.target